<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Signup</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <form name="userinfo">
      <input type="text" id="name" placeholder="이름" /><br />
      <input type="text" id="userid" placeholder="아이디" /><br />
      <input type="password" id="pw" placeholder="비밀번호" /><br />
      <button type="button" onclick="signup()">회원가입</button>
    </form>
    <script>
      async function signup() {
        const form = document.forms["userinfo"];
        const res = await axios({
          method: "POST",
          url: "/signup",
          data: {
            userid: form.userid.value,
            pw: form.pw.value,
            name: form.name.value,
          },
        });
        alert("회원가입이 완료되었습니다.");
        document.location.href = "/signin";
      }
    </script>
  </body>
</html>
