<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>로그인</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form name="signin_form">
      <input type="text" id="userid" placeholder="ID" /><br />
      <input type="password" id="pw" placeholder="PASSWORD" /><br />
      <button type="button" onclick="signin()">로그인</button>
    </form>
    <script>
      async function signin() {
        const form = document.forms["signin_form"];
        const res = await axios({
          url: "/signin",
          method: "POST",
          data: { userid: form.userid.value, pw: form.pw.value },
        });
        // console.log(res);
        alert(res.data.message);
        if (res.data.result) {
          localStorage.setItem("token", res.data.token);
          document.location.href = "/";
        } else {
          return;
        }
      }
    </script>
  </body>
</html>
