<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>사용자 정보</title>
  </head>
  <body>
    <table border="1" cellspacing="0">
      <thead>
        <td>이름</td>
        <td>아이디</td>
        <td>선택</td>
      </thead>
      <tbody>
        <% for (i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].name %></td>
          <td><%= data[i].userid %></td>
          <td><button onclick="selected('<%= i %>')">선택</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <form name="edit_form">
      <input type="text" placeholder="이름" id="editName" /><br />
      <input type="text" placeholder="아이디" id="editUserId" /><br />
      <input type="hidden" id="editId" />
      <button type="button" onclick="edited()">수정</button>
    </form>

    <script>
      async function selected(i) {
        console.log(i);
        const res = await axios({
          method: "GET",
          url: "/pick",
          params: { id: Number(i) + 1 },
        });
        console.log("res", res);
        document.querySelector("#editName").value = res.data.data.name;
        document.querySelector("#editUserId").value = res.data.data.userid;
        document.querySelector("#editId").value = res.data.data.id;
      }
      function edited() {
        const form = document.forms["edit_form"];
        if (confirm("수정하시겠습니까?")) {
          axios({
            url: "/edit",
            method: "PATCH",
            data: {
              name: document.querySelector("#editName").value,
              userid: document.querySelector("#editUserId").value,
              id: document.querySelector("#editId").value,
            },
          }).then((res) => {
            if (res.data.result) {
              alert("수정이 완료되었습니다.");
              document.location.reload();
            }
          });
        } else {
          return;
        }
      }
    </script>
  </body>
</html>
