<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>로그인</title>
  </head>
  <body>
    <form action="/login" method="post">
      <input type="text" name="id" id="id" required /><br />
      <input type="password" name="pw" id="pw" required /><br />
      <button>로그인</button>
    </form>
    <script></script>
  </body>
</html>
